/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.topheader {
  padding: 0px;
  margin: 0px;
  font-size: 60px;
}

.topP {
  padding: 0px;
  padding-left: 30px;
  margin: 0px;
  font-size: 30px;
}

.profilePic{
  border-radius: 75px;
  width: 150px;
  height: 150px;
}

.hrtag{
  border: none;
  height: 4px;
  background-color: #3e80c2;
}

.threesName{
  margin: 0px;
  padding: 0px;
  font-size: 40px;
}

.threesTime{
  color: #3e80c2;
 font-size: 20px;
 margin: 0px;
 padding: 0px;
}

.threesLorem{
  color: gray;
}